<div class="avatar">
	<%# user.profile-picture %>
</div>

<div class="question">
	<span>
		Door: <%= @question.user.email %>
	</span>
	<h2><%= @question.title %></h2>
	<span>
		<%= @question.answers.count %> antwoord(en)
	</span>
	<% if @question.body? %>
		<p>
			<%= @question.body %>
		</p>
	<% end %>
</div>

<ul class="answers">
	<% @question.answers.reverse.each do |answer| %>
		<li class="<%= cycle('odd', 'even') %>">
			<span><%= answer.user.email %> zei op <%= answer.created_at.strftime("%d-%m-%d") %> om <%= answer.created_at.strftime("%H:%M") %></span>
			<%= answer.body %>
		</li>
	<% end %>
</ul>

<div class="answer-form">
	<%= render "answers/form" %>
</div>