<h2><%= @question.title %></h2>

<p>
	<%= @question.body %>
</p>

<timestamp>
	Gesteld op <%= @question.created_at.strftime("%H:%M %d-%m-%d") %>
</timestamp>

<h2>Alle antwoorden</h2>

<% @question.answers.reverse.each do |answer| %>
	<p><%= answer.body %></p>
	<p>Geantwoord op <%= answer.created_at.strftime("%H:%M %d-%m-%d") %></p>
<% end %>

<%= render "answers/form" %>